
.loginPage{
    margin: 100px auto;
}
.loginform{
    margin:auto;
    min-height: 500px;
    text-align: center;
    border: 1px solid black;
    width: 80%;
    
}
.form-group{
    margin: 20px auto;
    
  
}

